@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*alterações realizadas no redimensionamento da tela e do chat-box*/

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    background-color: #573891;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 0.5%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}

.fixed-header h1 {
    text-align: left;
    font-size: 2em;
    margin: 0;
    padding: 0;
}
.chat-box {
    width: 50vw; /* largura definida em vw */
    max-width: 100vh; /* largura máxima em pixels */
    margin: 0 auto;
    margin-top: 120px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: inset 0 0 1em rgb(0, 0, 0);
    height: 70vh;
    min-width: 350px;
  }

.chat-body {
    height: 67%;
    overflow:auto;
}
.chat-header {
    padding: 2.5%;
    box-shadow: inset 0 0 1em rgb(36, 3, 68);
    background-color: #6441a5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    position: relative;
}

.chat-header h2 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0;
}

.online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5cd65c;
    position: absolute;
    right: 20px;
    top: 20px;
}
.messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    margin-bottom: 1%;
    border-radius: 5px;
    font-size: 1.2em;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 1%;
}

.message.incoming {
    background-color: #6441a5;
    align-self: flex-start;
    box-shadow: inset 0 0 1em rgb(36, 3, 68);
    padding-left: 3%;
    color: white;
}

.message.outgoing {
    color:#9879d1;
    background-color:#000000;
    align-self: flex-end;
    text-align: right;
    padding-right: 3%;
}
.chat-footer {
    padding: 2.5%;
    display: flex;
    align-items: center;
    height: 12.5%;
}

.chat-footer input[type="text"] {
    flex:1;
    border-color: rgb(233, 233, 233);
    border-width: 0.1em;
    border-radius: 5px;
    margin-right: 2.5%;
    font-size: 1.2em;
    outline: none;
    min-height: 60%;
}
::-webkit-input-placeholder  { 
    color:rgba(182, 177, 177, 0.685); 
    padding-left: 1vh;
    font-size: 18px;
}

.chat-footer button {
    margin-right: 5px;
	padding: 10px;
	border: none;
	background-color:#6441a5;
    box-shadow: inset 0 0 1em rgb(86, 27, 141);
	color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
}

.footer {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 14px;
    }
    
.footer a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: #6441a5;
}
.footer a:hover{
    color: #9879d1;
}
.chat-footer button:hover {
    transform: scale(1.2);
}